@{
    ViewData["Title"] = "Home Page";
}

@model SearchViewModel;

<form method="post" asp-action="Search" asp-controller="Search">
    <input asp-for="Rooftop" placeholder="Rooftop" />
    <input asp-for="Country" placeholder="Country" />
    <button type="submit">Search</button>
</form>


